<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>
<main>
    <h1 class="text-center m-3"><%= title %></h1>
    <a class="btn btn-sm btn-primary mb-3" href="books/create">Добавить запись</a>

    <% if(books.length) { %>
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Автор</th>
                <th scope="col">Описание</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% books.map((el, id) => { %>
                <tr>
                    <th scope="row"><%= id + 1%></th>
                    <td><%= el.title%></td>
                    <td><%= el.author%></td>
                    <td><%= el.desc%></td>
                    <td class="d-flex gap-2 justify-content-end p-2">
                        <a class="btn btn-sm btn-success" href="/books/<%= el.id %>" title="посмотреть">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-sm btn-primary" href="/books/update/<%= el.id %>" title="редактировать">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        <form action="/books/delete/<%= el.id %>" method="POST" class="d-inline">
                            <button class="btn btn-sm btn-danger" title="удалить">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h3 class="mt-5">Список книг пуст</h3>
    <% } %>
</main>
</body>
</html>

